@using Galerija.Models;

<!DOCTYPE html>

<html>
<head>
    <style>
        ::placeholder{
            color:black;
            opacity:1;
        }
    </style>
    <meta name="viewport" content="width=device-width" />
    <title>Upravljanje</title>
</head>
<body>
    <div>
        <h2 style="text-align:center">Dodaj novu sliku</h2>
        <form  method="post">
            <table style="margin:auto;">
                <tr>
                    <td><label>Naziv: </label></td>
                    <td><input type="text" name="naziv" placeholder="@(((Entity)ViewBag.Slika).Value.Naziv)" /><input type="hidden" name="id" value="@(((Entity)ViewBag.Slika).Value.Id)"/></td>
                </tr>
                <tr>
                    <td><label>Ime Autora: </label></td>
                    <td><input type="text" name="autor.ime" placeholder="@(((Entity)ViewBag.Slika).Value.Autor.Ime)" value="@(((Entity)ViewBag.Slika).Value.Autor.Ime)"/></td>
                </tr>
                <tr>
                    <td><label>Prezime Autora: </label></td>
                    <td><input type="text" name="autor.prezime" placeholder="@(((Entity)ViewBag.Slika).Value.Autor.Prezime)" /></td>
                </tr>
                <tr>
                    <td><label>Godina izrade: </label></td>
                    <td><input type="text" name="godinaIzrade" placeholder="@(((Entity)ViewBag.Slika).Value.GodinaIzrade)" /></td>
                </tr>
                <tr>
                    <td><label>Tehnika: </label></td>
                    <td><input type="text" name="tehnika" placeholder="@(((Entity)ViewBag.Slika).Value.Tehnika)" /></td>
                </tr>
                <tr>
                    <td><label>Opis: </label></td>
                    <td><input type="text" name="opis" placeholder="@(((Entity)ViewBag.Slika).Value.Opis)" /></td>
                </tr>
                <tr>
                    <td><label>Cena: </label></td>
                    <td><input type="number" name="cena" placeholder="@(((Entity)ViewBag.Slika).Value.Cena)" /></td>
                </tr>
                <tr>
                    <td><label>Na prodaju: </label></td>
                    <td>
                        <select name="naProdaju">
                            @if (((Entity)ViewBag.Slika).Value.NaProdaju)
                            {
                                <option value="true">Da</option>
                                <option value="false">Ne</option>
                            }
                            else
                            {
                                <option value="false">Ne</option>
                                <option value="true">Da</option>
                            }
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align:center"><input type="submit" value="Izmeni Sliku" formaction="~/Upravljanje/Izmeni" /></td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align:center"><input type="submit" value="Vrati se nazad" formaction="~/Home/Index" /></td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>
