@using Galerija.Models;
@model IEnumerable<Entity>
@{
    
    ViewBag.Title = "Index";
}

<head>
    <style>
        body {
            background-color: hsl(66, 35%, 86%);
        }

        th {
            background-color: hsl(154, 100%, 26%);
        }

        td {
            background-color: hsl(124, 23%, 88%);
        }

        select, input {
            background-color: hsl(194, 24%, 93%);
        }
        table, th, td{
            border:2px solid;
            border-collapse:collapse;
            padding: 5px;
            margin:auto;
        }
        input.cena{
            width: 60px;
        }
         form td {
             border-top:hidden;
             border-bottom:hidden;
         }

        div{
            float:left;
            text-align:center;
        }
        td.login{
            border-left:2px solid;
        }
        h2{
            text-align:center;
        }
    </style>
    <title>Home</title>
</head>

<div style="width:200px;margin-top:68px;margin-left:100px;">
        <form action="~/Home/Sortiraj" method="post">
            <table style="width:200px; text-align:center">
                <tr><th>Sortiraj</th></tr>
                <tr>
                    <td>
                        <select name="nacin">
                            <option value="naziv">Po nazivu</option>
                            <option value="tehnika">Po tehnici</option>
                            <option value="cena">Po ceni</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <select name="smer">
                            <option value="rastuce">Rastuce</option>
                            <option value="opadajuce">Opadajuce</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" value="Primeni filter" />
                    </td>
                </tr>
                <tr>
                    <td style="border-bottom:2px solid;">
                        <input type="submit" formaction="~/Home/Ocisti" value="Ocisti Filter"/>
                    </td>
                </tr>
            </table>
        </form>
        <form action="~/Home/Pretraga" method="post">
            <table style="width:200px; text-align:center">
                <tr><th>Pretrazi</th></tr>
                <tr>
                    <td>
                        <label>Cena: </label><input type="text" name="od" class="cena" /><label> - </label><input type="text" name="do" class="cena" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Naziv: </label><input type="text" name="naziv" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Tehnika: </label><input type="text" name="tehnika" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" value="Primeni pretragu" />
                    </td>
                </tr>
                <tr>
                    <td style="border-bottom:2px solid;">
                        <input type="submit" formaction="~/Home/Ocisti" value="Ocisti Pretragu" />
                    </td>
                </tr>
            </table>
        </form>
</div>
<div style="width:auto; margin-left:10px; margin-right:50px">
    <h2>Galerija</h2>
    <table>
        <tr>
            <th>Naziv slike</th>
            <th>Autor</th>
            <th>Godina izrade</th>
            <th>Tehnika izrade</th>
            <th>Opis</th>
            <th>Cena</th>
        </tr>

        @foreach (Entity slika in Model)
        {
            if (!slika.Obrisan)
            {
                if (slika.Value.NaProdaju)
                {
                    <tr>
                        <td>@slika.Value.Naziv</td>
                        <td>@slika.Value.Autor</td>
                        <td>@slika.Value.GodinaIzrade</td>
                        <td>@slika.Value.Tehnika</td>
                        <td>@slika.Value.Opis</td>
                        <td>@slika.Value.Cena</td>
                    </tr>
                }
            }
        }
    </table>
</div>
@if (Session["user"] == null)
{
    <div style="border:0px solid; width:400px;margin-top:68px;">
        <form action="~/Autorizacija/LogIn" method="post">
            <table style="text-align:center; border:2px solid;">
                <tr><th colspan="2">Podaci za logovanje</th></tr>
                <tr >
                    <td class="login">
                        <label>Korisnicko ime:</label>
                    </td>
                    <td class="login" style="border-left:hidden;">
                        <input type="text" name="username" />
                    </td>
                </tr>
                <tr>
                    <td class="login">
                        <label>Lozinka:</label>
                    </td>
                    <td class="login" style="border-left:hidden;">
                        <input type="password" name="password" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="login">
                        <input type="submit" value="Uloguj se" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="login" style="font-size:13px;border-bottom:2px solid;">
                        <a href="~/Autorizacija/Registruj">Registruj se!</a>
                    </td>
                </tr>
            </table>
        </form>
    </div>
}
else{
    <div style="border:2px solid;">
        <form action="~/Autorizacija/LogOut" method="post">
            <table style="text-align:center; border:hidden">
                <tr>
                    <td><label>Pozdrav @(((Korisnik)(Session["user"])).Ime)</label></td>
                </tr>
                <tr>
                    <td colspan="2" class="login">
                        <input type="submit" value="Izloguj se" />
                    </td>
                </tr>
            </table>
        </form>
    </div>
}

